/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}
a{
  text-decoration: none;
  color: #000000;
}

/* header style  */
header {
  background-color: #ffffff;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 100vw;
  overflow: hidden;
}
.logo img {
  width: 80px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  padding: 10px 26px;
  font-size: 18px;
  width: 500px;
  border-radius: 50px;
  border: 2px solid #646464;
  padding-right: 80px;
}
.search img {
  width: 67px;
  margin-left: -67px;
  margin-top: 5px;
  cursor: pointer;
  background-color: rgb(172, 172, 172);
  border: 2px solid #646464;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 22px;
}
.profile img {
  width: 40px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 50px;
}

/* video listing style  */
.container {
  padding: 0 4em;
}

#videos-section {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.video-card {
  width: 100%;
  cursor: pointer;
}
.video-card img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.channel-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.channel-logo img {
  border: 3px solid #0b3a8a;
  width: 35px;
  border-radius: 50px;
}
.channel-title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.channel-name {
  color: #000000;
}
.channel-views-date {
  color: #525151;
}

/* Mobile responsive  */
@media screen and (max-width: 725px) {
  header {
    padding: 10px 10px;
  }
  .logo img {
    width: 60px;
  }
  .profile img {
    display: none;
  }
  .search input {
    width: 300px;
  }

  .container {
    padding: 0 1em;
  }
  
  #videos-section {
    grid-template-columns: 1fr;
  }
}
